.beforeOff::before {
    display: none !important;
}

.customSmallFab {
    width: 30px !important;
    height: 30px !important;
    min-height: 30px !important;
}

.customSmallIcon {
    font-size: 18px !important;
}