.homepage::before {
    position: absolute;
    top: 10%;
    content: "graph math trainer";
    font-size: 6rem;
    color: #1976d2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .homepage::before {
        font-size: 5rem;
    }
}

/* Medium screens (tablets, 992px to 1199px) */
@media (max-width: 992px) {
    .homepage::before {
        font-size: 4rem;
    }
}

/* Small screens (landscape phones, 768px to 991px) */
@media (max-width: 768px) {
    .homepage::before {
        font-size: 3rem;
    }
}

/* Extra small screens (portrait phones, less than 768px) */
@media (max-width: 576px) {
    .homepage::before {
        font-size: 2rem;
    }
}

/* Extra extra small screens (less than 576px) */
@media (max-width: 400px) {
    .homepage::before {
        font-size: 1.5rem;
    }
}