* {
  box-sizing: border-box;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: inherit;
  height: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: inherit;
  height: inherit;
}

:root {
  --header-heigth: 50px;
}

a {
  text-decoration: none;
}

.progress-stacked {
  display: flex;
  min-height: 1.1rem;
  border: 1px solid #cdcdcd;
}

.progress {
  min-width: 50px;
  background-color: #cdcdcd;
}

.progress-bar {
  display: block;
  min-height: 1.1rem;
}

.main-container {
  height: calc(100% - 60px);
}

.sub-container {
  height: calc(100% - 40px);
}

.section {
  overflow: hidden;
}

.visual-area {
  height: 100%;
  overflow: hidden;
}

.card-body {
  flex: 1;
  overflow: auto;
}

.graph-canvas {
  width: 100%;
  height: 100%;
  user-select: none;
}

.modal-c-border {
  border: 2px solid #1976d2 !important;
  border-radius: 3%;
}

.node {
  cursor: pointer;
  z-index: 999;
}

.line {
  z-index: 998;
}

.node:hover {
  filter: brightness(1.5)
}

.link:hover {
  filter: brightness(0.5);
}