nav a,
nav button {
    text-transform: uppercase;
}

li>ul {
    left: -100% !important;
}

.centeredContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}